:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
  background-color: rgb(247, 238, 212);

}

.contain{
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0px 0px 10px 0px;
}

.head1{
  background-color: #2f9012;
  font-size: 1.5rem;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  color: #ffffff;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  /* background-color: #06753c; */
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1.2em;
  margin: 5px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: #ffffff;
  /* transition: border-color 0.25s; */
}
button:hover {
  border-color: #2f9012;
}
button:focus,
button:focus-visible {
  outline: 10px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #2f9012;
  }
}

input{
  size: 3rem;
border-radius: 5px;
block-size:2rem;
margin: 5px;
}
